body {
    font-family: Helvetica, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

header {
    background-color: #0099ff;
    padding: 1em;
}

h1 {
    color: #f8f8f8;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

main {
    background-color: #fff;
    width: 800px;
    margin: auto;
    margin-top: 1em;
    border-radius: 1em;
    padding: 1em;
}

form > * {
    display: block;
}

#msg {
    width: calc(100% - 1em);
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #0099ff;
    color: #fff;
    font-weight: bolder;
    outline: 0;
    resize: none;
}

form > input {
    margin: auto;
    margin-top: 1em;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    border: none;
    background-color: #0099ff;
    color: #fff;
    font-weight: bolder;
    font-size: 14px;
}

#posts {
    border-top-width: 2px;
    border-top-style: solid;
    margin-top: 2em;
}

#posts > h2 {
    text-align: center;
}

.postagem {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}